# SPDX-FileCopyrightText: 2026 Intevation GmbH <https://intevation.de>
# SPDX-License-Identifier: Apache-2.0
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme
